absl-py==0.8.0
Aion==0.1
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.9.7
annoy==1.16.3
asn1crypto==1.2.0
astor==0.8.0
attrdict==2.0.1
attrs==19.3.0
Automat==0.8.0
Babel==2.8.0
backcall==0.1.0
beautifulsoup4==4.8.1
bert-serving-client==1.9.6
bert-serving-server==1.9.6
bert-tensorflow==1.0.1
bleach==3.1.0
blis==0.4.1
boto==2.49.0
boto3==1.9.234
botocore==1.12.234
bz2file==0.98
cachetools==3.1.0
certifi==2019.9.11
cffi==1.13.1
chardet==3.0.4
Click==7.0
cloudconvert==2.0.0
clyent==1.2.2
cmake==3.14.4
cobble==0.1.3
colorama==0.4.1
comtypes==1.1.7
conda==4.7.12
conda-build==3.18.8
conda-package-handling==1.6.0
constantly==15.1.0
contextvars==2.4
cryptography==2.8
cssselect==1.1.0
cycler==0.10.0
cymem==2.0.2
dataclasses==0.7
decorator==4.4.1
deepspeech==0.7.1
defusedxml==0.6.0
Django==1.11.2
dlib==19.7.0
docutils==0.15.2
docx==0.2.4
docx2pdf==0.1.7
elasticsearch==7.8.0
emoji==0.5.1
en-core-web-sm==2.2.0
entrypoints==0.3
et-xmlfile==1.0.1
Faker==0.9.1
ffmpeg==1.4
filelock==3.0.12
Flask==1.1.1
Flask-Cors==3.0.8
gast==0.2.2
gensim==3.4.0
glob2==0.7
google-api-core==1.22.0
google-api-python-client==1.7.8
google-auth==1.20.0
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-images-download==2.8.0
google-pasta==0.1.7
googleapis-common-protos==1.52.0
GPUtil==1.4.0
graphviz==0.8.4
grpcio==1.16.1
gTTS==2.1.0
gTTS-token==1.1.3
h5py==2.9.0
hdf5storage==0.1.15
httplib2==0.12.3
hyperlink==19.0.0
idna==2.8
image==1.5.27
imageio==2.5.0
imageio-ffmpeg==0.3.0
imagesize==1.2.0
immutables==0.14
importlib-metadata==1.6.1
imutils==0.5.3
incremental==17.5.0
ipykernel==5.1.3
ipython==7.9.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
iso-639==0.4.5
iso3166==1.0.1
isodate==0.6.0
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.15.1
Jinja2==2.10.3
jmespath==0.9.4
joblib==0.13.2
json5==0.8.5
jsonlines==1.2.0
jsonschema==3.1.1
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.0
jupyterlab==1.1.4
jupyterlab-server==1.0.6
jupyterthemes==0.20.0
Keras==2.3.1
Keras-Applications==1.0.8
keras-bert==0.81.0
keras-embed-sim==0.7.0
keras-layer-normalization==0.14.0
keras-multi-head==0.22.0
keras-pos-embd==0.11.0
keras-position-wise-feed-forward==0.6.0
Keras-Preprocessing==1.1.0
keras-self-attention==0.41.0
keras-transformer==0.32.0
keras-vggface==0.6
Kivy==1.10.1
kiwisolver==1.1.0
lesscpy==0.13.0
libarchive-c==2.8
lightgbm==2.3.0
lxml==4.4.1
mammoth==1.4.10
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==2.2.2
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.0.14
mkl-random==1.1.0
mkl-service==2.3.0
more-itertools==7.2.0
moviepy==1.0.1
msgpack==0.5.6
murmurhash==1.0.2
music21==5.3.0
navigator-updater==0.2.1
nbconvert==5.6.0
nbformat==4.4.0
networkx==2.3
nltk==3.5
notebook==6.0.1
numpy==1.18.1
oauth2client==4.1.3
oauthlib==3.0.1
olefile==0.46
opencensus==0.7.10
opencensus-context==0.1.1
opencensus-ext-azure==1.0.4
openpyxl==2.6.2
opt-einsum==3.1.0
packaging==20.0
pandas==1.0.4
pandocfilters==1.4.2
parsel==1.5.2
parso==0.5.1
patsy==0.5.1
pbs==0.110
pdfminer.six==20200104
pdfplumber==0.5.21
pickleshare==0.7.5
Pillow==7.1.2
pkginfo==1.5.0.1
plac==0.9.6
playsound==1.2.2
ply==3.11
preshed==3.0.2
proglog==0.1.9
progressbar2==3.51.3
prometheus-client==0.7.1
prompt-toolkit==2.0.10
Protego==0.1.15
protobuf==3.12.4
psutil==5.6.3
pyasn1==0.4.5
pyasn1-modules==0.2.5
PyAudio==0.2.11
pycosat==0.6.3
pycparser==2.19
pycryptodome==3.9.4
PyDispatcher==2.0.5
Pygments==2.4.2
PyHamcrest==1.9.0
pyOpenSSL==19.0.0
pyparsing==2.4.2
pyreadline==2.1
pyrsistent==0.15.4
PySocks==1.7.1
pytesseract==0.3.0
python-dateutil==2.8.0
python-docx==0.8.10
python-utils==2.4.0
pytorch-pretrained-bert==0.6.2
pytube==9.5.3
pytz==2019.3
pywin32==227
pywinpty==0.5.5
PyYAML==5.1.2
pyzmq==18.1.0
qtconsole==4.5.5
QtPy==1.9.0
queuelib==1.5.0
regex==2020.1.8
requests==2.22.0
requests-oauthlib==1.2.0
rsa==4.0
ruamel-yaml==0.15.46
s3transfer==0.2.1
sacremoses==0.0.38
scikit-learn==0.22.1
scipy==1.4.1
Scrapy==1.8.0
seaborn==0.9.0
selenium==3.141.0
Send2Trash==1.5.0
sentencepiece==0.1.85
service-identity==18.1.0
sh==1.13.1
six==1.12.0
sklearn==0.0
smart-open==1.8.4
smote==0.1
snowballstemmer==2.0.0
sortedcontainers==2.2.2
soupsieve==1.9.3
spacy==2.2.1
SpeechRecognition==3.8.1
Sphinx==2.3.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
srsly==0.1.0
statsmodels==0.11.1
streamlink==1.3.1
striprtf==0.0.10
tensorboard==2.0.1
tensorflow==2.0.0
tensorflow-estimator==2.0.1
tensorflow-hub==0.6.0
termcolor==1.1.0
terminado==0.8.2
tesseract==0.1.3
testpath==0.4.2
text-unidecode==1.2
textrank==0.1.0
thinc==7.1.1
tika==1.24
tokenizers==0.5.2
torch==1.0.1
torchvision==0.2.1
tornado==6.0.3
tqdm==4.46.1
traitlets==4.3.3
transformers==2.7.0
tweepy==3.7.0
Twisted==19.7.0
unicodecsv==0.14.1
uritemplate==3.0.0
urllib3==1.24.2
virtualenv==16.0.0
w3lib==1.21.0
Wand==0.6.1
wasabi==0.2.2
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.56.0
websockets==7.0
Werkzeug==0.16.0
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.11.2
xdg==4.0.1
xgboost==1.0.2
xlrd==1.2.0
yellowbrick==1.1
youtube-dl==2020.1.24
zipp==0.6.0
zope.interface==4.6.0
